---
import ProjectCard from './ProjectCard.astro';
import type { Locale } from '../data/site';
import { projects } from '../data/site';

type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
---
<div class="portfolio-grid">
  {projects.map((project, index) => <ProjectCard project={project} locale={locale} featured={index === 0} />)}
</div>
